<h1>Edit Store</h1>
<p>
<%= link_to "back", @store %>
</p>

<%=form_for @store do |s|%>
    <p>
    <%=s.label :name%><br>
    <%=s.text_field :name %>
    </p>

    <p>
    <%=s.label :location%><br>
    <%=s.text_field :location %>
    </p>

    <p>
    <%=s.label :url%><br>
    <%=s.text_field :url %>
    </p>
    
    <p>
    <%=s.submit%>
    </p>    

    <% end %>