<h1> add a store</h1>

<%=link_to " Back to stores" , stores_url %>

<%= form_for @store do |s|%>
    <p>
        <%=s.label  :name %> <br>
        <%=s.text_field :name %>
    </p>

    <p>
        <%=s.label  :location %><br>
        <%=s.text_field  :location %>
         
       
    </p>

    <p>
    <%=s.label  :url%><br>
    <%=s.text_field :url %>
    </p>

        <p>
    <%= s.submit "save" %>
    </p>

<% end%>